# Minimal script for a cold start of LGM, using the interpolated jan_spec (unit.23) file

EXP_TYPE = piControl-LR
ACCOUNT = gg0304
DATA_DIR = /work/ba0989/a270077/MPIESM_classic/${EXP_ID}/outdata
RESTART_DIR = /work/ba0989/a270077/MPIESM_classic/${EXP_ID}/restart
LOG_DIR = /work/ba0989/a270077/MPIESM_classic/${EXP_ID}/log
MON_DIR = /work/ba0989/a270077/MPIESM_classic/${EXP_ID}/monitoring
WORK_DIR = /work/ba0989/a270077/MPIESM_classic/${EXP_ID}/work

FINAL_DATE = 1853-01-01

# Allow a fresh atmosphere spinup
EXP_OPTIONS = atmoinit


#fixed LGM orbital forcing and adjusted LGM GHG forcing
[namelists] 
  [[namelist.echam]] 
    [[[radctl]]] 
      cecc   = 0.018994
      cobld  = 22.949
      clonp  = 294.42
      co2vmr = 190.000e-6
      ch4vmr = 0.375e-6
      n2ovmr = 0.200e-6
      .remove = yr_perp

    [[[runctl]]]
      l_orbvsop87 = .false.

#do not use restart files for ECHAM6
[jobs]
  [[run_start]]
      .extends = run
      [[[namelists]]]
        [[[[namelist.echam]]]]
          [[[[[runctl]]]]]
            lresume = .false.


#do not use restart files for MPIOM
#[jobs]
  #[[run_start]]
      #.extends = run
      #[[[namelists]]]
        [[[[OCECTL]]]]
          [[[[[ocectl]]]]]
            model_start_time = split_date($INITIAL_DATE)
            istart = 1
 


#use the modified T63GR15_jan_surf.nc file
[files]
  [[echam]]
    [[[mapped]]]
      unit.24 = /pf/a/a270078/Model_setup/mpiesm/input/LGM/echam6/T63GR15_jan_surf_21ka_Lev_full.nc
      unit.23 = /pf/a/a270077/PalMod_Update_Orography/T63L47_jan_spec_from_lgmctl_wiso_T31L19.nc
  [[jsbach]]
    [[[mapped]]]
    # with full Lev21ka setup
    jsbach.nc = /pf/a/a270078/Model_setup/mpiesm/input/LGM/jsbach/OUT_2.nc
    [[[hydro]]]
    # 25.10.2017 updated by Stefan Hagemann
      hdpara.nc = /pf/a/a270078/Model_setup/mpiesm/input/LGM/jsbach/hdpara_21ka_Lev.nc
    [[mpiom]]
     # topo = /pf/a/a270078/Model_setup/mpiesm/setup/mpiom_setup/from_rayo3/LGM_new_21ka_defaultSLM_topo_jj
      topo = /pf/a/a270078/Model_setup/mpiesm/input/LGM/mpiom/LGM_new_21ka_levSLM_topo_jj


#Script directory: '/pf/a/a270078/mpiesm-1.2.00p4/experiments/Pilgmco2_glac/scripts'
#Data directory: '/work/ba0989/a270078/mpiesm-1.2.00p4/experiments/Pilgmco2_glac/outdata'
#Work directory: '/scratch/a/a270078/mpiesm-1.2.00p4/experiments/Pilgmco2_glac/work'
