
# Setup for pre-industrial control run at T63L47/GR15L40.
#
# This is the minimal setup using all default settings (e.g. monthly mean output)
#
# $$Id: control.config 8256 2015-12-08 23:30:31Z m221078 $$
#

EXP_TYPE = piControl-LR
ACCOUNT = gg0304
DATA_DIR = /work/ba0989/a270077/MPIESM_classic/${EXP_ID}/outdata
RESTART_DIR = /work/ba0989/a270077/MPIESM_classic/${EXP_ID}/restart
LOG_DIR = /work/ba0989/a270077/MPIESM_classic/${EXP_ID}/log
MON_DIR = /work/ba0989/a270077/MPIESM_classic/${EXP_ID}/monitoring
WORK_DIR = /work/ba0989/a270077/MPIESM_classic/${EXP_ID}/work

FINAL_DATE = 1853-01-01

# Allow a fresh atmosphere spinup
EXP_OPTIONS = atmoinit

#do not use restart files for ECHAM6
[jobs]
  [[run_start]]
      .extends = run
      [[[namelists]]]
        [[[[namelist.echam]]]]
          [[[[[runctl]]]]]
            lresume = .false.

[files]
  [[echam]]
    [[[mapped]]]
      unit.23 = /pf/a/a270077/PalMod_Update_Orography/T63L47_jan_spec_from_E280_T63L47.nc

